.header {
    min-height: 52px;
    max-height: 52px;
    border-radius: 4px;
    background-color: #3c65ab;
    color: white;
    /* width: calc(100vw - 40px); */
    margin-left: 20px ;
}

.header .name {
    font-weight: 650;
}

.tablee_row {
    min-height: 52px;
    max-height: 52px;
    border-radius: 4px;
    max-width: calc(100vw - 40px);
    margin-left: 20px ;
    font-weight: 400;
}

/* .pinned_cell {
    position: fixed;
    z-index: 9999;
    left: 38px;
    width: 295px;
    height: 52px;
} */

.table_cell {
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.table_cell:hover {
    background-color: #e8eff2;
}

.header_cell:hover {
    background-color: #6f97db;
}

.first_cell {
    border-left: 6px solid skyblue;
}
